<%- if controller_name != 'sessions' %>
  <div style="text-align: center">
    <a class="btn btn-success"  href="<%= new_session_path(resource_name)%> ">Log in</a>
  </div>
  <br>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div style="text-align: center">
    <a class="btn btn-info"  href="<%= new_registration_path(resource_name)%> ">Sign up</a>
  </div>
  <br>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <div style="text-align: center">
    <a class="btn btn-link"  href="<%= new_password_path(resource_name)%>">Forgot your password?</a>
  </div>
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <div style="text-align: center">
    <a class="btn btn-link"  href="<%= new_confirmation_path(resource_name)%>">Didn't receive confirmation instructions?</a>
  </div>
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <div style="text-align: center">
    <a class="btn btn-link"  href="<%= new_unlock_path(resource_name)%>">Didn't receive unlock instructions?</a>
  </div>
<% end %>


