<h3 style="text-align: center">Editing post</h3>

<%= render 'form', post: @post %>

<div class="btn-group" style="margin: 0%; padding: 0%">
  <%= link_to 'Show', @post, class: "btn btn-primary" %> 
  <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  <%= link_to 'Back', posts_path, class: "btn btn-secondary" %>
</div>