<div class="card">

  <div class="card-header" ><h3> Comments </h3></div>

  <div class="card-body"  style="padding: 0%; margin: 0%;">
    <ul class="list-group">
      <% @post.comments.each do |comment| %>
          <div class="card bg-light" style="padding: 0%; margin: 0%;">
              <div class="card-body" style="padding: 0.5%; margin: 0%;">
                <div style="display: flex;">
                      <i><p class="card-title" style="font-size: 120%; font-weight: bold; padding-bottom: 0.2%; margin: 0%;">
                      from <%= User.find(comment.user_id).username %></p></i>
                      <% if User.find(comment.user_id).admin? %>
                        <span class="badge badge-pill badge-dark" style="margin-left: 0.5%">Admin</span>
                      <% end %>
                  </div>
                  <p class="card-text" style="padding: 0%; margin: 0%; margin-left: 0.5%"><%= comment.content %></p>
                  <% if (current_user!=nil && (comment.user_id == current_user.id || current_user.admin == true)) %>
                    <div style="text-align: right">
                      <%= link_to "Delete", post_comment_path(comment.post,comment), method: :delete, data:
                      {confirm:'Are you sure?'}%>
                    </div>
                  <% end %>
              </div>
          </div>
      <% end %>
    </ul>
  </div>
   
  <div class="card-footer">
    <div class="container">
      <%= form_for  [@post, @post.comments.build] do |form| %>
        <% if @post.errors.any?%>
          <div class="alert alert-danger">
            <h5><%= t('common.errors')%></h5>
            <ul>
              <%@post.comments.errors.full_messages.each do |msg|%>
                <li><%=msg%></li>
              <%end%>
            </ul>
          </div>
        <%end%>
        <div class="form-group">
          <%= form.label :content %>
          <%= form.text_field :content, class: 'form-control', maxlength: "350", minlength: "1"  %>
        </div>

        <div class="actions" style="text-align: right">
          <%= form.submit "Send", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>

</div>




