<div class="jumbotron p-4 p-md-5 text-dark rounded bg-light" style="margin: 0%; padding: 0%">
    <div class="col-md-6 px-0">
      <strong class="d-inline-block mb-2" style="color: <%= @post.category.color %>"><%= @post.category.name %></strong>
      <h1 class="display-4 font-italic text" style="margin-left: -1.5%;"><%= @post.title %></h1>
      <div class="mb-1 text-muted"><%= @post.created_at.to_date.strftime("%d %B, %Y") %></div>
      <h4 class="lead my-3 text"><%= @post.summary %></h4>
    </div>
    <div class="container">
      <p class="lead my-3 text" style="margin-left: -1.5%;"><%= @post.body %></p>
      <img class ="rounded mx-auto d-block" src="<%= @post.image %>" alt="" style="max-width: 100%"/>
    </div>
    <p class="lead mb-0" style="margin: 0.5%">by Tanya Lysak</p>
</div>
<div class="btn-group" style="margin: 0%; padding: 0%;">
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to 'Edit', edit_admin_post_path(@post), class: "btn btn-warning" %>
    <%= link_to 'Destroy', admin_post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  <% end %>
  <%= link_to 'Back', posts_path, class: "btn btn-secondary" %>
</div>
<%= render "comments", post: @post%>