<div class="row mb-2">
  <% @posts.each do |post| %>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2" style="color: <%= post.category.color %>;"><%= post.category.name %></strong>
          <h3 class="mb-0 text" ><%= post.title %></h3>
          <div class="mb-1 text-muted"><%= post.created_at.to_date.strftime("%d %B, %Y") %></div>
          <p class="card-text mb-auto text" ><%= post.summary %></p>
          <span><%= link_to 'Continue reading', post %></span>
        </div>
      </div>
    </div> 
  <% end %>
</div>
<%= will_paginate @posts, renderer: 'BootstrapPaginationHelper::LinkRenderer' %>