<!DOCTYPE html>
<html>
  <head>
    <title>Myblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link rel="apple-touch-icon" href="/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/4.4/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
    <link rel="icon" href="/docs/4.4/assets/img/favicons/favicon.ico">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta name="msapplication-config" content="/docs/4.4/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#563d7c">
  </head>

  <body>
    <header class="blog-header py-3" style="padding: 1%">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <% if user_signed_in? && current_user.admin?%>
              <span class="text-muted"><%= link_to 'Create post', new_admin_post_path, class: "panel-link" %></span>
            <% end %>
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark">MyBlog</a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <% if user_signed_in? %>
              <a class="btn btn-sm btn-outline-primary" href="<%=  edit_user_registration_path %>" style="margin-right: 5px"> My account </a>
              <%= link_to " Exit ",  destroy_user_session_path, method: :delete, class: "btn btn-sm btn-outline-secondary"%>
            <% else %>
              <a class="btn btn-sm btn-outline-primary" href="<%=  new_user_registration_path %>">Sign up</a>
              <a class="btn btn-sm btn-outline-info" href="<%=  new_user_session_path %>" style="margin-left: 5px">Log in</a>
            <% end %>
          </div>
        </div>
    </header>
    <div class="container">
      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <span class="p-2 text-muted"><%= link_to 'All',  posts_path, class: "p-2 text-muted panel-link"%></span>
           <% Category.all.each do |category| %>
            <span class="p-2 text-muted"><%= link_to category.name, category, class: "p-2 text-muted panel-link" %></span>
          <% end %> 
        </nav>
      </div>
      <div class="row">
        <div class="col-md-12">
          <% flash.each do |name, message| %>
            <div class="alert <%= bootstrap_class_for(name) %>" role="alert">
              <button class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
              <%= message %>
            </div>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
